body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.containerone {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  padding-bottom: 6%;
}

.Header {
  display: flex;
  padding: 0;
  color: white;
  font-size: 24px;
  margin-left: 15%;
  margin-right: 12%;
}

.secondarytext {
  display: flex;
  margin-left: auto;
  text-decoration: none;
  font-size: 18px;
}

.introtext {
  display: flex;
  color: white;
  margin-left: 15%;
}

.intromain {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background-color: #3882f6;
  color: white;
  font-weight: 900;
  font-size: 18px;
  padding: 10px;
  width: 135px;
  border: 2px solid white;
  border-radius: 6px;
}

ul {
  display: flex;
  margin-left: 900px;
  gap: 10px;
  list-style: none;
}

.placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 44%;
  margin-top: 4%;
  color: white;
  margin-right: 14%;
  background-color: gray;
}

.containertwo {
  display: flex;
  justify-content: center;
  gap: 36px;
  flex-wrap: wrap;
  margin: 36px 0 100px 0;
}

.containertwo p {
  max-width: 200px;
  text-align: center;
}

.icon {
  display: flex;
  border-radius: 10px;
  height: 150px;
  width: 150px;
  border: 2px solid #3882f6;
  margin-left: auto;
  margin-right: auto;
}

.containerthree {
  display: flex;
  background-color: #e5e7eb;
  padding: 10% 22%;
  flex-direction: column;
  margin: 50px 0 50px 0;
}

.containerthree p {
  flex-shrink: 1;
  font-size: 55px;
  font-style: italic;
  height: auto;
}

.containerfour {
  display: flex;
  align-items: center;
  margin: 75px;
  margin-left: 10%;
  margin-right: 5%;
  background-color: #3882f6;
  border-radius: 10px;
  color: #f9faf8;
  justify-content: space-around;
  font-size: larger;
}

.paragraph-wrapper {
  line-height: 0;
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: #1f2937;
  color: white;
  margin-top: 2%;
}
